{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{ consultation.lawyer.image.url }}" alt="Image">
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                        <h3>{{ consultation.lawyer.name }}.</h3>
                        <div class="d-flex mb-3">
                            <div class="text-primary mr-2">
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star-half-alt"></small>
                                <small class="far fa-star"></small>
                            </div>
                        </div>

                        <form id="variation-form" method="post" action="{% url "consultation:book-consultation" consultation.id %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="type" class="text-dark mr-3 font-weight-bold">Type:</label>
                                <select id="type" name="type" class="form-control">
                                    <option value="">Select Type</option>
                                    {% for type, durations in options.items %}
                                        <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="duration" class="text-dark mr-3 font-weight-bold">Duration:</label>
                                <select id="duration" name="duration" class="form-control" disabled>
                                    <option value="">Select Duration</option>
                                </select>
                            </div>

                            <h3 id="price-container" class="font-weight-semi-bold mb-4 mt3"></h3>

                            <button type="submit" id="book-btn" class="btn btn-primary" disabled>Book Consultation</button>
                        </form>


                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Description</h4>
                            <p>{{ consultation.description }}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Additional Information</h4>
                            <p>{{ consultation.lawyer.description }}</p>
                            <div class="row">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">1 review for "Product Name"</h4>
                                    <div class="media mb-4">
                                        <img src="{% static 'img/user.jpg' %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                        <div class="media-body">
                                            <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                            <div class="text-primary mb-2">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

    <script>
        const typeSelect = document.getElementById('type');
        const durationSelect = document.getElementById('duration');
        const priceContainer = document.getElementById('price-container');
        const bookButton = document.getElementById('book-btn');

        typeSelect.addEventListener('change', (event) => {
            const selectedType = typeSelect.value;
            if (selectedType) {
                durationSelect.disabled = false;

                // Hapus semua opsi durasi yang ada
                while (durationSelect.options.length > 1) {
                    durationSelect.remove(1);
                }

                // Tambahkan opsi durasi sesuai dengan tipe yang dipilih
                const durations = {{ options|safe }}[selectedType];
                for (const duration of durations) {
                    const option = document.createElement('option');
                    option.value = duration;
                    option.text = duration + ' Minutes';
                    durationSelect.add(option);
                }
            } else {
                durationSelect.disabled = true;
                priceContainer.textContent = '';
            }

            durationSelect.selectedIndex = 0;
            priceContainer.textContent = '';
            bookButton.disabled = true;
        });

        durationSelect.addEventListener('change', (event) => {
            const selectedType = typeSelect.value;
            const selectedDuration = durationSelect.value;

            if (selectedType && selectedDuration) {
                const formData = new FormData();
                formData.append('type', selectedType);
                formData.append('duration', selectedDuration);

                fetch('/get_variation_price/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        priceContainer.textContent = 'Rp ' + data.price;
                        bookButton.disabled = false;
                    });
            } else {
                priceContainer.textContent = '';
                bookButton.disabled = true;
            }
        });
    </script>
{% endblock  %}

