{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row px-xl-5">
    <div class="col">
        <div class="bg-light p-30">
            <div class="tab-content">
                    <h1>Memahami Perkembangan dan Implementasi Terbaru OSS RBA</h1>
                    <img class="img-fluid" src="{% static 'img/oss.jpg' %}" alt="">
                    <br><br>
                    <h6>Beberapa perubahan dalam sistem perizinan di OSS RBA penting diketahui oleh pelaku usaha dan para pemangku kepentingan untuk dapat mengetahui lebih dalam, bagaimana sistem OSS RBA bekerja.</h6>
                    <h6></h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}