{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="img/law.jpg">
    <title>Password Changed Done</title>
</head>
<body>
<div>
    <div class="container py-5">
        <div class="col-md-8 offset-2">

        {% comment %} <h1 class="mb-5">Password Changed</h1> {% endcomment %}
        
        
        <div class="card mb-4 center" style="display: flex; justify-content: center;" id="forms">
          
          <div class="card-body">
           
            <h1>Your Password Changed Successfully.</h1>
            
            <div class="text-center">
                Let's <a href="{% url 'account:profile' %}"> go to Profile.</a>
            </div>
            
          </div>
        </div>

        </div>       
      </div>
</div>
</body>
</html>