{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="img/law.jpg">
    <title>Password Change</title>
</head>
<body>
<div>
    <section class="h-full gradient-form bg-gray-200 md:h-screen">
        <div class="container py-2 px-6 h-full">
            <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
                <div class="xl:w-12/12">
                    <div class="block bg-white shadow-lg rounded-lg">
                        <div class="g-0" style="width: 500px; height: 500px">
                            {% comment %} <div class="lg:w-6/12 px-4 md:px-0"> {% endcomment %}
                                <div class="md:p-6 md:mx-6">
                                    <div class="text-center">
                                        {% comment %} <img class="mx-auto w-48">
                                        <a href="https://freeimage.host/"><img src="https://iili.io/HPeU794.png" alt="HPeU794.png" border="0"></a> {% endcomment %}
                                        <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">Change Your Password</h4>
                                    </div>
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="mb-4">
                                            <label for="exampleFormControlInput1" class="form-label">Old Password:</label>
                                            <input type="password"
                                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                    name="{{ form.currentpassword.name }}"
                                                    id="{{ form.currentpassword.id_for_label }}"
                                                    placeholder="Current Password"/>
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleFormControlInput1" class="form-label">New Password:</label>
                                            <input type="password"
                                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                    name="{{ form.newpassword.name }}"
                                                    id="{{ form.newpassword.id_for_label }}"
                                                    placeholder="New Password"/>
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleFormControlInput1" class="form-label">Confirm Password:</label>
                                            <input type="password"
                                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                    name="{{ form.confirmpassword.name }}"
                                                    id="{{ form.confirmpassword.id_for_label }}"
                                                    placeholder="Confirm Password"/>
                                        </div>
                                        <div class="text-center pt-1 mb-12 pb-1">
                                            <button class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                                                    type="submit"
                                                    data-mdb-ripple="true"
                                                    data-mdb-ripple-color="light"
                                                    style="
                                background: linear-gradient(
                                  to right,
                                  #2471ee,
                                  #2566d1,
                                  #2471ee,
                                  #2566d1
                                );
                                ">
                                                Save
                                            </button>
                                {% comment %} <div class="text-white px-4 py-4 md:mx-2">
                                    <h4 class="text-xl font-semibold mb-6">Law Fast</h4>
                                    <p class="text-sm">
                                        You can live without kindness, but you can't live without justice.
                                    </p>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>