{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <<meta charset="utf-8">
    <title>Lawfast</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    {% include "components/styles.html" %}

    {% block extra_styles %}

    {% endblock %}
</head>
<body>
    {% include "components/header.html" %}

    {% include "components/navbar.html" %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="index.html">Home</a>
                    <a class="breadcrumb-item text-dark" href="shop.html">Konsultasi Hukum</a>
                    <span class="breadcrumb-item active">Abdian Wijaya, S.H., M.H</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    {% block content %}

    {% endblock %}

    {% include "components/footer.html" %}

    {% include "components/scripts.html" %}

    {% block extra_scripts %}

    {% endblock %}
</body>
</html>