{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"></h2>
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/oss.jpg" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">Perkembangan OSS RBA</h3>
                            <a href="berita1.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/berita.png" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">Modus Tranfer Dana Pinjol</h3>
                            <a href="berita2.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/arti2.jpg" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">Perubahan Undang-Undang Ketenagakerjaan</h3>
                            <a href="berita3.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/arti3.jpg" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">MA Putuskan Eksekusi Mati Juvenil</h3>
                            <a href="berita4.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/arti4.jpg" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">Pemerintah Luncurkan Program Hukum Gratis</h3>
                            <a href="berita5.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/arti5.jpg" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">Kasus Korupsi Terbesar dalam Sejarah</h3>
                            <a href="berita6.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/arti7.jpg" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">Peningkatan Sanksi Bagi Pelaku Kejahatan Sibe</h3>
                            <a href="berita7.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/arti8.jpg" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">MK Membatalkan Larangan Pernikahan Sesama Jenis</h3>
                            <a href="berita8.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class=" product-offer mb-30">
                        <div class="overflow-hidden mb-30" style=" height: 200px;">
                            <img class="img-fluid" src="img/arti9.jpg" alt="">
                        </div>
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Lawfast</h6>
                            <h3 class="text-white mb-3">Perluasan Perlindungan Hukum KDRT</h3>
                            <a href="berita9.html" class="btn btn-primary">Read Now</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}


