{% extends base.html'' %}
{% load static %}
{% block content %}

<div class="top-nav">
    <i class="fas fa-arrow-left"></i>
    <h2>Akun Saya</h2>
</div>
<div class="profile-frame">
    <img src="{% static 'avatar.png' %}" alt="Foto Profil">
    <h2>Nama</h2>
    <p>Email@example.com</p>
</div>
<div class="menu-frame">
    <h2>Akun</h2>
    <ul>
        <li><a href="setting_profil.html"><i class="fas fa-user"></i>Profil<i class="fas fa-chevron-right chevron-right"></i></a></li>
        <li><a href="setting_profil.html"><i class="fas fa-cog"></i>Pengaturan<i class="fas fa-chevron-right chevron-right"></i></a></li>
        <li><a href="#"><i class="fas fa-question-circle"></i>Pusat Bantuan<i class="fas fa-chevron-right chevron-right"></i></a></li>
    </ul>
</div>
<div class="menu-frame">
    <h2>Info Lainnya</h2>
    <ul>
        <li><a href="#"><i class="fas fa-info-circle"></i>Tentang Kami<i class="fas fa-chevron-right chevron-right"></i></a></li>
        <li><a href="#"><i class="fas fa-shield-alt"></i>Kebijakan Privasi<i class="fas fa-chevron-right chevron-right"></i></a></li>
        <li><a href="#"><i class="fas fa-star"></i>Beri Rating<i class="fas fa-chevron-right chevron-right"></i></a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt"></i>Keluar<i class="fas fa-chevron-right chevron-right"></i></a></li>
    </ul>
</div>
{% endblock %}