{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="top-nav">
    <i class="fas fa-arrow-left"></i>
    <h2>Setting Profile</h2>
</div>
<div class="setting-profile">
    <img src="avatar.png" alt="Foto Profil">
    <div class="form-input">
        <label for="foto">Upload Foto:</label>
        <input type="file" id="foto" name="foto">
    </div>
</div>
<div class="setting-profile">
    <h2>Profil</h2>
    <form>
        <div class="form-input">
            <label for="nama">Nama:</label>
            <input type="text" id="nama" name="nama" placeholder="Nama Lengkap">
        </div>
        <div class="form-input">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-input">
            <label for="telepon">Nomor Telepon:</label>
            <input type="tel" id="telepon" name="telepon" placeholder="Nomor Telepon">
        </div>
    </form>
    <div class="buttons">
        <button class="button">Simpan</button>
    </div>
</div>
{% endblock %}